*:before,
*:after{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    background-color: #ccc;
}
.navigator-mobile{
    display: none;
}
.table-list{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
}
.ResultDisplay, form{
    background-color: #fff;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
.ResultDisplay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
h1,h3{
    color: hsl(0, 0%, 100%);
    padding: 0.5rem;
    margin: 0;
    height: 2rem;
    background-color: black;
    border-radius: 0.5rem 0.5rem 0 0;
}
h3{
   padding: 0;
   margin: 0;
   width: auto;
   padding: 0.5rem;
}
.main-body{
    padding: 0;
}
form{
    width: fit-content;
}
th:first-child{
    display: contents;
    padding: 0;
    margin: -5rem;

}
.refresh{
    color: red;
    font-size: 1.2rem;
}
tr, td{
    width: 100%;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-weight: 700;
    font-size: 1.2rem;
}
.tr-data{
    background-color: bisque;
    height: 2rem;
    color: #000;
}
.tr-data:nth-child(even){
    background-color: rgb(182, 28, 28);
    color: #fff;
}
/*Mobile zone*/
@media (max-width: 768px){
    body{
        display: block;
    }
    #form{
        display: none;
    }
    .navigator-mobile{
        display: block;
    }
    .list-link{
        margin: 0;
        padding: 0 1rem;
        justify-content:end;
        align-items: center;
        list-style-type: none;
        font-size: 1.2rem;
        font-weight: 700;
        font-family:cursive;
        gap: 2.5rem;
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        height: 2rem;
        -webkit-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.55);
        -moz-box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.55);
        box-shadow: 0px 5px 17px -5px rgba(0,0,0,0.55);
     }
     .list-link li:hover, .list-link li:active{
         color: hsl(0, 100%, 50%);
     }
     .ResultDisplay{
        width: auto;
     }
}
button{
    border: none;
    background-color: blue;
    text-align: center;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
}
input[type="text"],input[type="number"]{
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 700;
    font-family:cursive;
    color: #000;
}
input[type="submit"]{
    border: none;
    background-color: blue;
    text-align: center;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: 700;
}
input[type="submit"]:hover{
    background-color: red;
    color: #fff;
}
button:hover{
    background-color: hsl(0, 100%, 50%);
}
/*============================================*/
/*  Template zone*/
/*============================================*/

/* Template Flex Center*/
.flex{
    display: flex;
}
.form-contianer{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background-color: #fff;
    border-radius: 0.5rem;
    margin-top: 0.5rem;

}
.flex-center-end{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 1rem;
}